<html>
<head>
</head>
<body>
<div class="container">
<table class="table table-bordered">
   
        <br>
        <br>
        <hr>
    
       

<table> 
    <div class="container">
        <div class="row">
            <div class="panel panel-default widget">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>
                    <h3 class="panel-title">
                        댓글 내용</h3>
                </div>
            </div>
        </div>
    </div>
</table>

<form method='post'>
    <hr>
    <% if (news) { %>
        <% for(var i=0; i < comments.length; i++) { %>
        <div class="panel-body">
                    <div class="row" style="margin-left: 5px">
                        <div class="comments_container">
                            <div class="comments-text">
                                    <%= comments[i].comments %>
                            </div>
                            <div class="action">
                                <a href="/comments/<%= news.id %>/edit" class="btn btn-outline-primary" style="font-size: 10px;">수정</a>
                                <a href="/comments/<%= news.id %>/delete" class="btn btn-outline-secondary" style="font-size: 10px;">삭제</a>
                            </div>
                        </div>
                    </div>
        </div>
        <hr>
        <% } %>
        <% } %>
    <tr>
        <p style="font-size:28px;">댓글 쓰기</p>
        <td><textarea cols="10" placeholder="내용을 입력하세요. " name="comments" class="form-control"></textarea></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type='submit' value="등록" class='pull-right'></a>
            <input type="button" value="reset" class="pull-left"/>
        </td>
    </tr>
</form>


<p><a href="/news">News Home</a></p>


</div>
</body>
</html>


    